.avatar-dom {
  width: 45px;
}
body,
html {
  flex-direction: column;
  gap: 80px;
}

.ranking-board-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.ranking-board-title {
  display: flex;
  justify-content: center;
}
